$prime: #2B5592;
$second: #64BBE3;
$third: #C4D6ED;

$red: #FF5552;

$gray: #E2E2E2;
$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

$black: #000;
$white: #FCFCFC;