
// vw Unit

$mWidth: 375;

@mixin mvw($value: 0) {
	width: math.div($value, math.div($width, 100)) + vw;
}

@function fvw($value) {
	@return (math.div($value, $width) * 100) + vw;
}
@function mfvw($value) {
	@return math.div($value, math.div($mWidth, 100)) + vw;
}

// vh Unit

@mixin mvh($value: 0) {
	height: math.div($value, math.div($height, 100)) + vh;
}

@function fvh($value) {
	@return math.div($value, math.div($height, 100)) + vh;
}

// rem Unit

@function rem($value) {
	@return (math.div($value, $font-size)) + rem;
}